# Pima Data cleaning

In [97]:
# Import Modules Here
import numpy as np
import pandas as pd
import math
import statistics

## Part 1: Read the Data into Jupyter

In [98]:
# Read the data into a dataframe named pima_df.
# YOUR CODE HERE
pima_df = pd.read_csv(r'C:\Users\bsila\Dexian_Bootcamp\code\DataPyLabExercise\DA_labs\diabetes_uncleaned_data.csv')
pima_df.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,3.0,167.0,39,28,545,53.0,2.447,125.0,FALSE
1,13.0,151.0,107,38,10000,9.2,0.507,148.0,FALSE
2,8.0,59.0,109,18,739,59.1,1.769,91.0,TRUE
3,11.0,132.0,83,11,376,4.1,2.772,NaN,TRUE
4,10.0,165.0,48,37,737,39.4,0.729,73.0,FALSE

In [99]:
pima_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1004 entries, 0 to 1003
Data columns (total 9 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Pregnancies               890 non-null    float64
 1   Glucose                   988 non-null    float64
 2   BloodPressure             982 non-null    object
 3   SkinThickness             1004 non-null   int64
 4   Insulin                   1004 non-null   int64
 5   BMI                       1003 non-null   object
 6   DiabetesPedigreeFunction  1004 non-null   float64
 7   Age                       982 non-null    float64
 8   Outcome                   1004 non-null   object
dtypes: float64(4), int64(2), object(3)
memory usage: 70.7+ KB

## Part 2: Missing Data

In [100]:
#Question 1:  Find Columns with missing data
# YOUR CODE HERE
pima_df.isna().sum()

Pregnancies                 114
Glucose                      16
BloodPressure                22
SkinThickness                 0
Insulin                       0
BMI                           1
DiabetesPedigreeFunction      0
Age                          22
Outcome                       0
dtype: int64

In [101]:
# Question 2:  Write code to remove rows with missing data and save the new dataframe as pima_missing_fixed_df
# YOUR CODE HERE
pima_missing_fixed_df = pima_df.dropna()
pima_missing_fixed_df

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,3.0,167.0,39,28,545,53.0,2.447,125.0,FALSE
1,13.0,151.0,107,38,10000,9.2,0.507,148.0,FALSE
2,8.0,59.0,109,18,739,59.1,1.769,91.0,TRUE
4,10.0,165.0,48,37,737,39.4,0.729,73.0,FALSE
5,-100.0,142.0,88,39,82,42.7,1.369,148.0,TRUE
...,...,...,...,...,...,...,...,...,...
998,6.0,110.0,26,27,590,20.8,1.185,95.0,FALSE
999,6.0,110.0,26,27,590,20.8,1.185,95.0,FALSE
1001,4.0,80.0,24,6,268,48.9,0.989,81.0,TRUE
1002,3.0,142.0,Error,10,299,4.8,2.411,71.0,TRUE
1003,6.0,151.0,60,26,362,43.4,2.027,23.0,FALSE

In [103]:
# Question 3:  Print out the number of rows in the dataframe.
# YOUR CODE HERE
pima_missing_fixed_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 840 entries, 0 to 1003
Data columns (total 9 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Pregnancies               840 non-null    float64
 1   Glucose                   840 non-null    float64
 2   BloodPressure             840 non-null    object
 3   SkinThickness             840 non-null    int64
 4   Insulin                   840 non-null    int64
 5   BMI                       840 non-null    object
 6   DiabetesPedigreeFunction  840 non-null    float64
 7   Age                       840 non-null    float64
 8   Outcome                   840 non-null    object
dtypes: float64(4), int64(2), object(3)
memory usage: 65.6+ KB

### Question 4:  Discuss why this could be a problem.  What other methods could you use in this situation? 

Missing data could create skewed data in the data analysis process leading to wrong decision making or wrong conclusions. This can be prevented from either removing or filling (imputing) the missing data with mean or any values such that it doesn't affect the quality of the data for analysis.

## Part 3: Duplicated Data

In [104]:
# Question 1: find the rows of duplicated data in the 
# pima_missing_fixed_df and print them.  
pima_missing_fixed_df.duplicated().sum()

4

In [105]:
pima_missing_fixed_df[pima_missing_fixed_df.duplicated()]

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
925,6.0,39.0,46,2,287,40.4,2.394,60.0,TRUE
926,10.0,67.0,39,12,168,53.4,0.162,71.0,FALSE
999,6.0,110.0,26,27,590,20.8,1.185,95.0,FALSE
1003,6.0,151.0,60,26,362,43.4,2.027,23.0,FALSE

In [106]:
# Question 2: Write code to remove rows with missing data 
# and save the new dataframe as pima_missing_fixed_df
pima_missing_fixed_df = pima_missing_fixed_df.drop_duplicates()
pima_missing_fixed_df

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,3.0,167.0,39,28,545,53.0,2.447,125.0,FALSE
1,13.0,151.0,107,38,10000,9.2,0.507,148.0,FALSE
2,8.0,59.0,109,18,739,59.1,1.769,91.0,TRUE
4,10.0,165.0,48,37,737,39.4,0.729,73.0,FALSE
5,-100.0,142.0,88,39,82,42.7,1.369,148.0,TRUE
...,...,...,...,...,...,...,...,...,...
996,6.0,117.0,91,28,212,1.0,1.969,137.0,FALSE
997,13.0,163.0,10,37,457,8.0,2.400,125.0,TRUE
998,6.0,110.0,26,27,590,20.8,1.185,95.0,FALSE
1001,4.0,80.0,24,6,268,48.9,0.989,81.0,TRUE
1002,3.0,142.0,Error,10,299,4.8,2.411,71.0,TRUE

In [107]:
# Question 3:  Print out the number of rows in the dataframe.
pima_missing_fixed_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 836 entries, 0 to 1002
Data columns (total 9 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Pregnancies               836 non-null    float64
 1   Glucose                   836 non-null    float64
 2   BloodPressure             836 non-null    object
 3   SkinThickness             836 non-null    int64
 4   Insulin                   836 non-null    int64
 5   BMI                       836 non-null    object
 6   DiabetesPedigreeFunction  836 non-null    float64
 7   Age                       836 non-null    float64
 8   Outcome                   836 non-null    object
dtypes: float64(4), int64(2), object(3)
memory usage: 65.3+ KB

### Question 4:  In your jupyter notebook, discuss why this could be a problem.
### What other methods could you use in this situation? 

The presence of duplicated data increases the inaccuracy of the data analysis and findings which directly affects the decision-making process of an organization. 

Other methods:
The replace() function allows us to replace the duplicate values in a DataFrame with new values without affecting data quality

## Part 4: Mis-typed Columns/Broken Data

In [108]:
# Question 1: find the columns where most of the data seems to be one type of data, and there seems to be a data error. 
#In the markdown, after exploring in code, add a markdown cell discussing which columns have the data error. 
pima_missing_fixed_df['BloodPressure'].value_counts()

BloodPressure
26       15
82       15
27       15
96       15
81       13
         ..
107       4
13        3
10000     2
Error     2
19        1
Name: count, Length: 113, dtype: int64

In [109]:
pima_missing_fixed_df[pima_missing_fixed_df['BloodPressure']=='Error']

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
893,12.0,197.0,Error,27,876,24.5,1.565,33.0,TRUE
1002,3.0,142.0,Error,10,299,4.8,2.411,71.0,TRUE

In [110]:
pima_missing_fixed_df['BMI'].value_counts()

BMI
7.0     6
17.4    6
59.6    6
15.1    6
34.4    5
       ..
33.7    1
38.2    1
1.7     1
3.6     1
4.8     1
Name: count, Length: 451, dtype: int64

In [111]:
pima_missing_fixed_df[pima_missing_fixed_df['BMI']=='Error']

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
643,5.0,189.0,8,32,2,Error,2.916,107.0,TRUE

In [27]:
pima_missing_fixed_df['Outcome'].value_counts()

Outcome
FALSE    441
TRUE     394
ERROR      1
Name: count, dtype: int64

In [112]:
# Question 2: Remove the rows with data errors
filtered_df = pima_missing_fixed_df.loc[pima_missing_fixed_df['BloodPressure'] != 'Error', :]
filtered_df
filtered_df['BloodPressure'].value_counts()

BloodPressure
26       15
82       15
27       15
96       15
81       13
         ..
29        4
107       4
13        3
10000     2
19        1
Name: count, Length: 112, dtype: int64

In [113]:
filtered_df2 = filtered_df.loc[filtered_df['BMI'] != 'Error', :]
filtered_df2
filtered_df2['BMI'].value_counts()

BMI
15.1    6
59.6    6
17.4    6
7.0     6
19.8    5
       ..
54.8    1
27.9    1
26.8    1
52.4    1
48.9    1
Name: count, Length: 449, dtype: int64

In [45]:
filtered_df3 = filtered_df2.loc[filtered_df2['Outcome'] != 'ERROR'] 
filtered_df3
filtered_df3['Outcome'].value_counts()

Outcome
FALSE    441
TRUE     391
Name: count, dtype: int64

In [114]:
filtered_df3.info()

<class 'pandas.core.frame.DataFrame'>
Index: 832 entries, 0 to 1001
Data columns (total 9 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Pregnancies               832 non-null    float64
 1   Glucose                   832 non-null    float64
 2   BloodPressure             832 non-null    int64
 3   SkinThickness             832 non-null    int64
 4   Insulin                   832 non-null    int64
 5   BMI                       832 non-null    object
 6   DiabetesPedigreeFunction  832 non-null    float64
 7   Age                       832 non-null    float64
 8   Outcome                   832 non-null    object
dtypes: float64(4), int64(3), object(2)
memory usage: 65.0+ KB

In [115]:
# Question 3: After the data is fixed in your columns change the columns to the correct type and save this as the pima_fixed_columns_df.
filtered_fixed_df3= filtered_df3.copy() #creating a copy to change the column type and add it to a new data frame
filtered_fixed_df3.info()

<class 'pandas.core.frame.DataFrame'>
Index: 832 entries, 0 to 1001
Data columns (total 9 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Pregnancies               832 non-null    float64
 1   Glucose                   832 non-null    float64
 2   BloodPressure             832 non-null    int64
 3   SkinThickness             832 non-null    int64
 4   Insulin                   832 non-null    int64
 5   BMI                       832 non-null    object
 6   DiabetesPedigreeFunction  832 non-null    float64
 7   Age                       832 non-null    float64
 8   Outcome                   832 non-null    object
dtypes: float64(4), int64(3), object(2)
memory usage: 65.0+ KB

In [116]:
filtered_fixed_df3['BloodPressure']=filtered_fixed_df3['BloodPressure'].astype('int64')

In [117]:
filtered_fixed_df3['BMI'] = filtered_fixed_df3['BMI'].astype('float64')

In [118]:
filtered_fixed_df3['Outcome'] = filtered_fixed_df3['Outcome'].astype('bool')

In [119]:
pima_fixed_columns_df = filtered_fixed_df3

In [120]:
# Question 4: Run pima_fixed_columns_df.info() to confirm the columns have changed.
pima_fixed_columns_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 832 entries, 0 to 1001
Data columns (total 9 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Pregnancies               832 non-null    float64
 1   Glucose                   832 non-null    float64
 2   BloodPressure             832 non-null    int64
 3   SkinThickness             832 non-null    int64
 4   Insulin                   832 non-null    int64
 5   BMI                       832 non-null    float64
 6   DiabetesPedigreeFunction  832 non-null    float64
 7   Age                       832 non-null    float64
 8   Outcome                   832 non-null    bool
dtypes: bool(1), float64(5), int64(3)
memory usage: 59.3 KB

## Part 5: Outlier Detection and Removal

In [121]:
pima_fixed_columns_df.describe()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age
count,832.000000,832.000000,832.000000,832.000000,832.000000,832.000000,832.000000,832.000000
mean,6.587740,99.489183,77.590144,25.448317,455.709135,30.516106,1.512022,86.096154
std,5.436162,58.518862,488.364595,14.517585,420.931646,16.887957,0.883061,36.887123
min,-100.000000,0.000000,0.000000,0.000000,6.000000,0.200000,0.001000,21.000000
25%,3.000000,47.000000,27.000000,13.000000,216.000000,16.400000,0.721000,54.000000
50%,7.000000,102.500000,52.500000,25.000000,436.000000,29.700000,1.503500,85.000000
75%,10.000000,151.000000,81.250000,38.000000,660.250000,44.575000,2.315250,117.000000
max,13.000000,200.000000,10000.000000,50.000000,10000.000000,60.000000,2.998000,150.000000

In [122]:
# Question 1: Print out the Outliers in each column in the pima_fixed_columns_df dataframe, use the IQR method of outlier detection.
def is_outlier(column):
    Q1 = column.quantile(.25)
    Q3 = column.quantile(.75)
    IQR = Q3-Q1
    lower_bound = Q1 - 1.5*IQR
    upper_bound = Q3 + 1.5*IQR
    return ~column.between(lower_bound, upper_bound)

In [123]:
print("Pregnancies")
pima_fixed_columns_df[is_outlier(pima_fixed_columns_df['Pregnancies'])]

Pregnancies

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
5,-100.0,142.0,88,39,82,42.7,1.369,148.0,True

In [124]:
print("Glucose")
pima_fixed_columns_df[is_outlier(pima_fixed_columns_df['Glucose'])]

Glucose

Empty DataFrame
Columns: [Pregnancies, Glucose, BloodPressure, SkinThickness, Insulin, BMI, DiabetesPedigreeFunction, Age, Outcome]
Index: []

In [125]:
print("BloodPressure")
pima_fixed_columns_df[is_outlier(pima_fixed_columns_df['BloodPressure'])]

BloodPressure

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
649,3.0,155.0,10000,35,748,32.6,0.098,85.0,True
995,5.0,62.0,10000,13,412,48.7,0.267,101.0,True

In [126]:
print("SkinThickness")
pima_fixed_columns_df[is_outlier(pima_fixed_columns_df['SkinThickness'])]

SkinThickness

Empty DataFrame
Columns: [Pregnancies, Glucose, BloodPressure, SkinThickness, Insulin, BMI, DiabetesPedigreeFunction, Age, Outcome]
Index: []

In [127]:
print("Insulin")
pima_fixed_columns_df[is_outlier(pima_fixed_columns_df['Insulin'])]

Insulin

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
1,13.0,151.0,107,38,10000,9.2,0.507,148.0,True

In [128]:
print("BMI")
pima_fixed_columns_df[is_outlier(pima_fixed_columns_df['BMI'])]

BMI

Empty DataFrame
Columns: [Pregnancies, Glucose, BloodPressure, SkinThickness, Insulin, BMI, DiabetesPedigreeFunction, Age, Outcome]
Index: []

In [129]:
print("DiabetesPedigreeFunction")
pima_fixed_columns_df[is_outlier(pima_fixed_columns_df['DiabetesPedigreeFunction'])]

DiabetesPedigreeFunction

Empty DataFrame
Columns: [Pregnancies, Glucose, BloodPressure, SkinThickness, Insulin, BMI, DiabetesPedigreeFunction, Age, Outcome]
Index: []

In [130]:
print("Age")
pima_fixed_columns_df[is_outlier(pima_fixed_columns_df['Age'])]

Age

Empty DataFrame
Columns: [Pregnancies, Glucose, BloodPressure, SkinThickness, Insulin, BMI, DiabetesPedigreeFunction, Age, Outcome]
Index: []

In [131]:
# Question 2: Use loc to remove outliers in each of the columns that have outliers, save this as pima_outlier_removed_df.
pima_fixed_columns_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 832 entries, 0 to 1001
Data columns (total 9 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Pregnancies               832 non-null    float64
 1   Glucose                   832 non-null    float64
 2   BloodPressure             832 non-null    int64
 3   SkinThickness             832 non-null    int64
 4   Insulin                   832 non-null    int64
 5   BMI                       832 non-null    float64
 6   DiabetesPedigreeFunction  832 non-null    float64
 7   Age                       832 non-null    float64
 8   Outcome                   832 non-null    bool
dtypes: bool(1), float64(5), int64(3)
memory usage: 59.3 KB

In [132]:
remove_outlier_df = pima_fixed_columns_df.loc[is_outlier(pima_fixed_columns_df['Pregnancies']) != True]
remove_outlier_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 831 entries, 0 to 1001
Data columns (total 9 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Pregnancies               831 non-null    float64
 1   Glucose                   831 non-null    float64
 2   BloodPressure             831 non-null    int64
 3   SkinThickness             831 non-null    int64
 4   Insulin                   831 non-null    int64
 5   BMI                       831 non-null    float64
 6   DiabetesPedigreeFunction  831 non-null    float64
 7   Age                       831 non-null    float64
 8   Outcome                   831 non-null    bool
dtypes: bool(1), float64(5), int64(3)
memory usage: 59.2 KB

In [133]:
remove_outlier_df = remove_outlier_df.loc[is_outlier(remove_outlier_df['BloodPressure']) != True]
remove_outlier_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 829 entries, 0 to 1001
Data columns (total 9 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Pregnancies               829 non-null    float64
 1   Glucose                   829 non-null    float64
 2   BloodPressure             829 non-null    int64
 3   SkinThickness             829 non-null    int64
 4   Insulin                   829 non-null    int64
 5   BMI                       829 non-null    float64
 6   DiabetesPedigreeFunction  829 non-null    float64
 7   Age                       829 non-null    float64
 8   Outcome                   829 non-null    bool
dtypes: bool(1), float64(5), int64(3)
memory usage: 59.1 KB

In [134]:
pima_outlier_removed_df= remove_outlier_df.loc[is_outlier(remove_outlier_df['Insulin']) != True]
pima_outlier_removed_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 828 entries, 0 to 1001
Data columns (total 9 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Pregnancies               828 non-null    float64
 1   Glucose                   828 non-null    float64
 2   BloodPressure             828 non-null    int64
 3   SkinThickness             828 non-null    int64
 4   Insulin                   828 non-null    int64
 5   BMI                       828 non-null    float64
 6   DiabetesPedigreeFunction  828 non-null    float64
 7   Age                       828 non-null    float64
 8   Outcome                   828 non-null    bool
dtypes: bool(1), float64(5), int64(3)
memory usage: 59.0 KB

In [95]:
# Question 3:  Print out the row count in the pima_outlier_removed_df and confirm this number is correct.
pima_outlier_removed_df.count()

Pregnancies                 828
Glucose                     828
BloodPressure               828
SkinThickness               828
Insulin                     828
BMI                         828
DiabetesPedigreeFunction    828
Age                         828
Outcome                     828
dtype: int64

In [96]:
pima_outlier_removed_df.describe()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age
count,828.000000,828.000000,828.000000,828.00000,828.000000,828.000000,828.000000,828.000000
mean,6.714976,99.353865,53.574879,25.42029,444.333333,30.502657,1.516620,85.929952
std,3.984057,58.567764,31.229121,14.52820,259.782734,16.895217,0.882048,36.846653
min,0.000000,0.000000,0.000000,0.00000,6.000000,0.200000,0.001000,21.000000
25%,3.000000,46.750000,27.000000,13.00000,216.000000,16.400000,0.723000,54.000000
50%,7.000000,102.000000,52.000000,25.00000,436.000000,29.700000,1.512000,85.000000
75%,10.000000,151.000000,81.000000,38.00000,660.000000,44.575000,2.316000,117.000000
max,13.000000,200.000000,110.000000,50.00000,900.000000,60.000000,2.998000,150.000000